*{
    margin: 0;
    padding: 0;
}
#slider{
    height: auto;
    background: pink;
  
}
#controle button{
    font-size: 3em;
    padding: 10px;
}
#slider img{
   width: 100%; 
}
#controle{
    text-align: center;
    height: auto;
    background: rgb(222, 51, 79);
 
}
.large{
    width: 900px;
    margin: auto;
}