*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    height: 100vh;
    background: pink;
    margin: auto;
    display: flex;
    border-radius: 10px;
    border: 4px solid rgb(144, 142, 142);
    overflow: hidden;
}
.item{
    border: 1px solid black;
    flex-basis: 50%;
}
#e1{
    background-color: red;
    order: 2;
}
#e1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#e2{
    background-color: rgb(234, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    order: 1;
    
}
#e2 h3{
    text-align: center;
}
#e2 *{
    /* border: 2px solid black; */

}
@media screen {
    
}