*{
    margin: 0;padding: 0;box-sizing: border-box;
}

#pleinecran{
width: 100%;
height: 100vh;
position: relative;
}

#intro{
    /* background-color: red; */
    color: white;
    width: 50%;
    position: absolute;
    text-align: center;
    bottom: 100px;
    left: calc(50% - 25%);
    font-size: 3em;
    font-family: sans-serif;
}
#entete{
    /* background: white; */
    width: 100%;
    height: 150px;
}
#back{
    width: 100%;
    height: 100vh;
    background-color: purple;
 position: absolute;
 z-index: -1;
}
#back video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}