#banner{
    width: 1200px;
    height: 550px;
    margin: auto;
    background-image: url("images/lacoste-dance-funny-jump-wallpaper.jpg") ;
background-position: center;
display: flex;
}

#banner h1{
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6em;
    width: 60%;
    text-shadow: -5px 0px 3px rgba(0,0,0,0.6);
text-transform: capitalize;
}
h1 span{
    color: #105A33;

}